* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 80vw;
}

.container .panel:nth-child(1) {
    background-image: url('../images/1.jpg')
}

.container .panel:nth-child(2) {
    background-image: url('../images/2.jpg')
}

.container .panel:nth-child(3) {
    background-image: url('../images/3.jpg')
}

.container .panel:nth-child(4) {
    background-image: url('../images/4.jpg')
}

.container .panel:nth-child(5) {
    background-image: url('../images/5.jpg')
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    height: 80vh;
    border-radius: 5px;
    cursor: pointer;
    flex: 0.5;
    margin: 8px;
    transition: all 1s linear;
    position: relative;
}

.panel h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: 0.5s linear 0.5s;
}